@import "vars";

*{
  box-sizing: border-box;
}

body,html{
  margin: 0;
  font-family: $primaryFont;
}

.site-container{
  padding: 20px;

  @media #{$tablet}{
    padding: 25px;
  }
  @media #{$laptop}{
    width: 900px;
    margin: 0 auto;
  }
  @media #{$desktop}{
    width: 1200px;
  }
}
