@import "vars";

*{
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
}
body{
  background-color: $white;
}
h1{
  font-size: 3.2rem;
}
h2{
  font-size: 2.6rem;
}
h3{
  font-size: 2rem;
}

p, li, a, b{
  font-size: 1.6rem;
  text-decoration: none;
}
.shadow {
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.main-content-wrapper{
  position: relative;
  top: 60vh;
  @include display(flex);
  @include flex-direction(row);
}

aside{
  width: 30%;
  min-width: 300px;
}
main{
  width: 70%;
  padding-top:20px;
  padding-left: 20px;
}
.btn{
  padding: 10px;
  background-color: $primaryColor;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: $white;
  transition: all 0.5s ease;
  &:hover{
    cursor: pointer;
    background-color: darken($primaryColor, 10%);

  }
} //end of btn
