@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 60vh;
    background-image: linear-gradient(to bottom, $primaryColor 20%, darken($primaryColor, 10%) 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 60vh;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
  .title{
    width: 100%;
    height: 60vh;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    .logo{
      width: 100px;
      height: 100px;
      border-radius: 10px;
      text-align: center;
      color: $primaryColor;
      background: #fff;
      font-size: 5.5rem;
      font-weight: 700;
      margin-bottom: 15px;
      position: relative;
      z-index: 1000;
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      // margin-bottom: 850px;
      opacity: 0;
      transition: all 2s ease 0.5s;
      position: relative;
      top: -400px;
      &.move{
        top: 0;
        // margin-bottom: 20px;
        opacity: 1;
      }
    }
    .download{
      position: relative;
      z-index: 1000;
      opacity: 0;
      background-color: lighten($primaryColor, 25%);
      padding: 10px 20px;
      color: darken($primaryColor, 10%);
      font-size: 1.3rem;
      font-weight: 400;
      letter-spacing: 1px;
      border-radius: 5px;
      margin-bottom: 15px;
      transition: all 1.5s ease 2.2s;
      &.fadeIn{
        opacity: 1;
      }
    }

  }
