/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

p, li, a, b {
  font-size: 2rem;
}

/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
/* --- desktop nav --- */
