main{
  h2{
    color: $primaryColor;
    margin-bottom: 20px;
  }
  section{
    width: 100%;
    pre{
      width: 90%;
      font-size: 1.5rem;
      padding: 15px !important;
      box-sizing: border-box;
      margin-bottom: 25px;
      height: 200px;
      overflow: scroll;
    }
  }
}
