footer{
  padding: 20px 10px;
  background-color: darken($primaryColor, 15%);
  position: relative;
  top: 70vh;
  p{
    text-align: center;
    color: $white;
    font-size: 1.3rem;
    &:first-child{
      margin-bottom: 10px;
    }
  }
  a{
    font-size: 1.3rem;
    color: $white;
    text-decoration: underline;
  }
}
